*{
    padding: 1%;
    margin: 0%;
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
}
h1{
    color: white;
    background-color: #44bd32;
    text-align: center;
    font-size: 30px;
    padding: 35px;
}
a{
    margin: 140px;
}
p{
    text-align: center;
}
table{
    border-collapse: collapse;
    margin: auto;
    width: 90%;
}
th, td{
    padding: 10px;
}